@import "../../../styles/colors.scss";

.sliderWrapper {
  display: flex;
  flex-direction: column;
  height: 50px;
  margin-bottom: 15px;
}

.label {
  margin-bottom: 12px;
}

.slider {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sliderTrack {
  height: 10px;
  border-radius: 5px;
}

.sliderThumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: solid $white 2px;
  outline: none;
  cursor: pointer;
  box-shadow: 2px 2px 2px #888888;
}
