@import "../../../styles/colors.scss";

.sliderWrapper {
  display: flex;
  flex-direction: column;
  height: 50px;
  margin-bottom: 15px;
}

.label {
  margin-bottom: 12px;
}

.slider {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sliderTrack {
  height: 8px;
  border-radius: 5px;
}

.sliderThumb {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: solid $white 1px;
  outline: none;
  cursor: pointer;
  box-shadow: 2px 2px 2px #888888;
}

@media only screen and (min-width: 800px) {
  .sliderWrapper {
    flex: 1;
    margin-right: 10px;
  }
  .sliderWrapper:last-child {
    margin-right: 0;
  }

  .label {
    color: $white;
    border: none;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    padding: 4px;
    font-size: 12px;
    margin-bottom: 10px;
  }
}
